@import "./orxe-rating-bar-map.scss";

@mixin label-fonts {
    color: var(--rating-bar-label-color);
    font-family: var(--rating-bar-font-family);
    font-weight: var(--rating-bar-font-weight);
}

@mixin donut-rating-bar {
    fill: none;
    stroke-width: 4;
}

:host([type="donut"]) {
    display: inline-flex;
    .donut-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: var(--rating-bar-donut-margin);
        .donut-track__info {
            position: absolute;
        }
    }
}

.donut-track__info {
    @include label-fonts;
    font-size: var(--rating-bar-donut-rating-info-font-size);
}

.donut {
    position: relative;
    transform: rotate(-90deg);
    height: var(--rating-bar-donut-height);
    width: var(--rating-bar-donut-width);

    .donut-track {
        stroke: var(--rating-bar-donut-track-stroke-color);
        @include donut-rating-bar;
    }
    .donut-track__indicator {
        @include donut-rating-bar;
        stroke-dasharray: $rating-bar-donut-indicator-stroke-area;
        &.donut-track--excellent {
            stroke: var(--rating-bar-excellent);
        }
        &.donut-track--great {
            stroke: var(--rating-bar-great);
        }
        &.donut-track--average {
            stroke: var(--rating-bar-average);
        }
        &.donut-track--poor {
            stroke: var(--rating-bar-poor);
        }
        &.donut-track--bad {
            stroke: var(--rating-bar-bad);
        }
    }
}

:host([type='linear']) {
    display: block;
    width: $rating-bar-linear-width;
  }

.linear-track {
    background-color: var(--rating-bar-background-color);
    border-radius: $rating-bar-linear-border-radius;
    width: $rating-bar-linear-track-width;
    .linear-track__indicator {
      border-radius: $rating-bar-linear-track__indicator-border-radius;
      height: $rating-bar-linear-track__indicator-height;
      margin-bottom : var(--rating-bar-linear-track-padding);
      &.linear-track--excellent {
        background-color: var(--rating-bar-excellent);
      }
      &.linear-track--great {
        background-color: var(--rating-bar-great);
      }
      &.linear-track--average {
        background-color: var(--rating-bar-average)
      }
      &.linear-track--poor {
        background-color: var(--rating-bar-poor);
      }
      &.linear-track--bad {
        background-color: var(--rating-bar-bad);
      }
    }
  }
  
  .linear-track__info {
    @include label-fonts;
    display: flex;
    justify-content: space-between;
    font-size: var(--rating-bar-linear-rating-info-font-size);
  }
